---
const date = new Date().getFullYear();
---

<footer class="flex flex-col items-center text-base_500 pb-4">
  <p class="">
    &copy; Develope by 🩶 <a
      class="hover:text-base_600"
      target="_blank"
      href="https://wa.me/5511968336094">Emmanuel Oliveira</a
    >
  </p>
  <p>⨀ Todos os direitos reservados 2022 | {date}</p>
</footer>

<style></style>
